
html,
body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  /*background-image: url('./bg2.png');*/
  
}

.background-color-signup{
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 1px 1px 100px rgba(0,0,0,.05);
  height: 390px;
}
.background-color-signin{
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 1px 1px 100px rgba(0,0,0,.05);
  height: 330px;
}

.btn-success{
  background-color: #5C6BC0 !important;
  border-color: #5C6BC0 !important;
}

.btn-primary{
  background-color: #5C6BC0 !important;
  border-color: #5C6BC0 !important;
}

.thumbnail img {
    max-height: 200px;
}
.badge{
  background-color: red;
}

.thumbnail .description {
    color: #7f7f7f;
}

.loginToView{
  margin-right: 15px;
}
.removeItem{
  cursor: pointer;
}
.fa-user:before{
  margin-right: 2px;
}

.cartItems{
  width: 30px;
  height: 50px;
}
.price {
    font-weight: bold;
    font-size: 16px;
}
.remove-all{
  margin-left: 100px;
}
.item-price{
  background-color: #000;
  color: #fff;
    font-size: 16px;
}
.checkout-item{
  float: right;
}
.your-cart{
  margin-right: 15px
}
.header-items{
  top: 20px;
  margin-top: 15px !important;
  margin-right: 0px !important;
}

@media only screen and (max-width:768px) {
  .fa-user:before {
    margin-right: 8px;
  }

  .navbar-nav {
    margin: 0px !important;
  }
}
